<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Luna</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>bluemoon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bluemoon</string>
				</array>
			</dict>
			<key>de</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ic_de</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>electra</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>electra</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>redmoon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>redmoon</string>
				</array>
			</dict>
			<key>shirokuma</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>shirokuma</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.salesforce.Luna</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>luna</string>
			</array>
			<key>property</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>246dfe64d8bb683f7ba9d13b5360af7c3aa6b684</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Luna is requesting to access Camera on this device</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Luna is requesting to access Location service on this device</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Luna is requesting to access Microphone on this device</string>
	<key>NSMotionUsageDescription</key>
	<string>Luna is requesting to access Motion Sensors on this device</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Luna is requesting to access Photo Library on this device</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
